*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
    padding-left: 350px;
    padding-right: 350px;
    line-height: 40px;
}

.secao_topo {
    text-align: center;
    padding-top: 30px;
    border-bottom: 2px solid rgb(219, 151, 23);
    img{
        width: 220px;
        margin-bottom: 30px;
    }
    padding-bottom: 40px;
}

.link-topo {
    color: rgb(105, 73, 24);
    padding-left: 30px;
}

.secao_sobre {
    text-align: center;
    padding-top: 30px;
    h2{
        color: rgb(219, 151, 23);
        font-weight: normal;
        padding-bottom: 15px;
    }
    img{
        width: 820px;
    }
}

.secao_produtos {
    background-color: rgb(224, 133, 48);
    text-align: center;
    color: white;
    margin-top: 10px;
    h1{
        padding-top: 40px;
    }
    h2{
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 23px;
    }
    p{
        padding-left: 150px;
        padding-right: 150px;
    }
    img{
        width: 590px;
        padding-bottom: 10px;
    }
}
 .secao_contato {
    text-align: center;
    padding-top: 20px;
    h1{
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 23px;
    }
    padding-bottom: 20px;
}

span {
    font-weight: bold;
}